.container-contact {
    width: 40%;
    border: 1px solid #aaa;
    border-radius: 9999px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.container-contact h4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.trash-contact {
    position: absolute;
    display: grid;
    place-items: center;
    right: 100px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #fff;
}

.trash-contact:focus {
    outline: none;
}